<!DOCTYPE html>
<html>
<head>
    <!-- Title of the web page -->
    <title>Access Denied</title>
    <title lang="en">Access Denied</title>
    <title lang="de">Zugriff verweigert</title>
    <title lang="zh">访问被拒绝</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <!-- Logo of the company -->
        <img src="/static/logo.svg" alt="Logo" class="logo">

        <!-- Title of the web page -->
        <h1 class="title" lang="en">Access Denied</h1>
        <h1 class="title" lang="de" hidden>Zugriff verweigert</h1>
        <h1 class="title" lang="zh" hidden>访问被拒绝</h1>

        <!-- Message to the user -->
        <p class="message" lang="en">You have tried to access a potentially malicious resource that has been blocked by our security system. Please contact your administrator for more information.</p>
        <p class="message" lang="de" hidden>Sie haben versucht, auf eine potenziell schädliche Ressource zuzugreifen, die von unserem Sicherheitssystem blockiert wurde. Bitte kontaktieren Sie Ihren Administrator für weitere Informationen.</p>
        <p class="message" lang="zh" hidden>您试图访问的资源可能是恶意的，已被我们的安全系统阻止。请联系您的管理员了解更多信息。</p>

		<!-- URL to be visited -->
        <p class="url" lang="en">Blocked resource: <span class="urldisplay">{{ .URL }}</span></p>
        <p class="url" lang="de" hidden>Blockierte Ressource: <span class="urldisplay">{{ .URL }}</span></p>
        <p class="url" lang="zh" hidden>受阻资源: <span class="urldisplay">{{ .URL }}</span></p>

        <!-- Language switcher -->
        <div class="language-switcher">
            <button id="en" class="active">English</button>
            <button id="de">Deutsch</button>
            <button id="zh">中文</button>
        </div>
    </div>

  <!-- Link to the external JavaScript file -->
    <script src="/static/script.js"></script>
</body>
</html>
